<!DOCTYPE html>
<html>
<head>
	<title>Assignment 1</title>
	<!-- Latest version of Angular JS -->
	<script type="text/javascript" src=https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body ng-app="formApp" ng-controller="ctrlFunc" class="container">
	<form role="form">
		<fieldset>
				<legend>
					Enter your information and click on the submit button!
				</legend>
				<div class="form-group">
					<label for="name" class="col-sm-6">Enter your Name:</label>
					<div class="form-group col-sm-12">
						<input type="text" ng-model="nameInfo" name="name" id="name" class="form-control" placeholder="Name....." required >
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="col-sm-6">Enter your Email</label>
					<div class="form-group col-sm-12">
						<input type="text" ng-model="emailInfo" name="email" id="email" class="form-control" placeholder="Email....." required>
					</div>
				</div>
		</fieldset>
	</form>
	<div class="container table-responsive table-striped table-bordered">
	<h3>The details provided by you are as follows:</h3>
		<table class="table">
			<thead>
				<tr class="success">
					<th>Name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr class="info">
					<td ng-bind="nameInfo"></td>
					<td ng-bind="emailInfo"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<script type="text/javascript">
		var mod=angular.module("formApp",[]);
		mod.controller("ctrlFunc",function($scope){
		});
	</script>
</body>
</html>